asgiref==3.8.1
Brotli==1.1.0
distlib==0.3.8
Django==5.1.1
filelock==3.16.0
gunicorn==23.0.0
packaging==24.1
platformdirs==4.3.2
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.4
whitenoise==6.7.0
