{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <meta
      name="description"
      content="AndrevLare - Desarrollo y diseño de páginas web creativas y personalizadas. Portafolio y servicios disponibles."
    />
    <meta
      name="keywords"
      content="desarrollo web, diseño web, portafolio, AndrevLare, servicios web, programación, desarrollo de aplicaciones"
    />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="AndrevLare - Desarrollo Web" />
    <meta
      property="og:description"
      content="Portafolio y servicios de desarrollo web personalizados y creativos."
    />
    <meta
      property="og:image"
      content="{% static 'img/AndrevLare/LogoAndrevLareBGLess.png' %}"
    />
    <meta property="og:url" content="https://andrevlare.com" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="AndrevLare - Desarrollo Web" />
    <meta
      name="twitter:description"
      content="Portafolio y servicios de desarrollo web personalizados y creativos."
    />
    <meta
      name="twitter:image"
      content="{% static 'img/AndrevLare/LogoAndrevLareBGLess.png' %}"
    />

    <link rel="canonical" href="https://andrevlare.onrender.com" />

    <title>AndrevLare - Desarrollo y Diseño Web Creativo</title>

    {# archivos estáticos #}
    <!--Icons-->
    <link
      rel="shortcut icon"
      href="{% static 'img/AndrevLare/cubic-LogoAndrevLareTextLess.ico' %}"
      type="image/x-icon"
    />

    <!--scripts-->
    <script
      src="https://kit.fontawesome.com/4271bf6616.js"
      crossorigin="anonymous"
    ></script>

    <!--css-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animations.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resolutions.css' %}" />
  </head>
  <body>
    <!--Header-->
    <header class="header">
      <div class="header__div">
        <div class="header__div__div">
          <img
            src="{% static 'img/AndrevLare/LogoAndrevLareTextLess.svg' %}"
            alt="AndrevLareIcon"
            title="AndrevLare Icon"
            class="header__div__div--img"
          />
          <span class="header__div__div--span">AndrevLare</span>
        </div>
        <button class="header__div__button">
          <span class="header__div__button--span menu-bars-1"></span>
          <span class="header__div__button--span menu-bars-2"></span>
          <span class="header__div__button--span menu-bars-3"></span>
        </button>
      </div>
      <nav class="header__nav">
        <ul class="language__ul language-en">
          <div class="language__border">
            <span class="language__border--span1 border--span"></span>
            <span class="language__border--span2 border--span"></span>
            <span class="language__border--span3 border--span"></span>
            <span class="language__border--span4 border--span"></span>
          </div>
          <li>
            <p
              class="language__ul__li--p"
              data-lang="es"
              onclick="changeLanguage(this)"
            >
              ES
            </p>
          </li>
          <li>
            <p
              class="language__ul__li--p"
              data-lang="en"
              onclick="changeLanguage(this)"
            >
              EN
            </p>
          </li>
        </ul>
        <ul class="header__nav__ul">
          <li
            class="header__nav__ul--li"
            onclick="scrollToSection('home', 'start')"
            data-section="nav"
            data-value="home"
          >
            Inicio
          </li>
          <li
            class="header__nav__ul--li"
            onclick="scrollToSection('portfolio', 'center')"
            data-section="nav"
            data-value="portfolio"
          >
            Portafolio
          </li>
          <li
            class="header__nav__ul--li nav-li-extra"
            onclick="scrollToSection('CTA', 'start')"
            data-section="nav"
            data-value="CTA"
          >
            Tener Una Web Importa
          </li>
          <li
            class="header__nav__ul--li"
            onclick="scrollToSection('contact', 'start')"
            data-section="nav"
            data-value="contact"
          >
            Contacto
          </li>
          <li
            class="header__nav__ul--li"
            onclick="scrollToSection('services', 'start')"
            data-section="nav"
            data-value="services"
          >
            Servicios
          </li>
          <li
            class="header__nav__ul--li nav-li-extra"
            onclick="scrollToSection('socials', 'center')"
            data-section="nav"
            data-value="socialMedia"
          >
            Mis Redes Sociales
          </li>
        </ul>
      </nav>
    </header>

    <!--Main-->
    <main class="main">
      <article class="main__home non-mobile-section" id="home">
        <div class="main__home-container">
          <div class="main__home__div">
            <img
              src="{% static 'img/sculture.png' %}"
              alt="GreekStatue"
              title="MainImage"
              class="main__home__div--img"
            />
            <span class="main__home__div--span">FULLSTACK DEV</span>
          </div>
          <h1 class="main__home--h1">
            ANDREVLARE <br />
            <span>WebDev</span>
          </h1>
          <p class="main__home--p" data-section="home" data-value="paragraph">
            En AndrevLare, se diseñan sitios web que conectan con tu público y
            hacen crecer tu negocio. Potencia tu presencia en línea con
            creatividad y soluciones a tu medida.
          </p>
          <button
            class="main__home--button"
            onclick="scrollToSection('contact', 'start')"
            data-section="home"
            data-value="button"
          >
            Contáctame
          </button>
        </div>
      </article>

      <!--Portfolio-->
      <article class="main__portfolio non-mobile-section" id="portfolio">
        <div class="main__portfolio-container">
          <h3
            class="main__portfolio--h3"
            data-section="portfolio"
            data-value="title"
          >
            Proyectos<br />
            <span class="main__portfolio--h3--span"
              ><span>de</span> AndrevLare</span
            >
          </h3>

          <div class="main__portfolio__card-container" onclick="flipCard()">
            <div class="card">
              <!-- Frente de la tarjeta -->
              <div class="card-side card-front">
                <div class="card-front__div"><span>ID Card</span></div>
                <div class="card-front__div-grid">
                  <div class="card-front__div-grid__img">
                    <img
                      src="{% static 'img/AndrevLare/AndrevLare-Avatar.jpg' %}"
                      alt="AndrevLare Avatar"
                      title="AndrevLare"
                      class="card-front__div-grid__img--img"
                    />
                  </div>
                  <div class="card-front__div-grid__name">
                    <p class="card-front__div-grid__name--p">AndrevLare</p>
                    <span class="card-front__div-grid__name--span0"></span>
                    <span class="card-front__div-grid__name--span1"></span>
                  </div>
                  <div class="card-front__div-grid__skill">
                    <p
                      class="card-front__div-grid__skill--p"
                      data-section="portfolio"
                      data-value="rol"
                    >
                      Fullstack Developer
                    </p>
                    <span class="card-front__div-grid__skill--span0"></span>
                    <span class="card-front__div-grid__skill--span1"></span>
                  </div>
                  <div class="card-front__div-grid__sign">
                    <img
                      src="{% static 'img/sign.png' %}"
                      alt="sign"
                      title="sign"
                    />
                  </div>
                  <div class="card-front__div-grid__bars-code"></div>
                  <div class="card-front__div-grid__click">
                    <i
                      class="fa-solid fa-hand-pointer card-front__div-grid__click--i"
                    ></i>
                    <span class="card-front__div-grid__click--span">Click</span>
                  </div>
                </div>
              </div>
              <!-- Reverso de la tarjeta -->
              <div class="card-side card-back">
                <div class="card-back__container">
                  <div class="card-back__container__logo">
                    <img
                      src="{% static 'img/AndrevLare/LogoAndrevLareTextLess.svg' %}"
                      alt="AndrevLareLogo"
                      title="AndrevLare Logo"
                    />
                  </div>
                  <div class="card-back__container__about">
                    <span class="card-back__container__about--AndrevLare"
                      >AndrevLare</span
                    >
                    <span
                      class="card-back__container__about--fullstack"
                      data-section="portfolio"
                      data-value="rol"
                      >Desarrollador Fullstack</span
                    >
                  </div>
                  <div class="card-back__container__skills">
                    <h4 class="card-back__container__skills--h4">Skills</h4>
                    <ul class="card-back__container__skills__ul">
                      <li class="card-back__container__skills__ul--li">
                        <i class="fa-brands fa-html5"></i>
                      </li>
                      <li class="card-back__container__skills__ul--li">
                        <i class="fa-brands fa-css3-alt"></i>
                      </li>
                      <li class="card-back__container__skills__ul--li">
                        <i class="fa-brands fa-js"></i>
                      </li>
                      <li class="card-back__container__skills__ul--li">
                        <i class="fa-brands fa-python"></i>
                      </li>
                      <li class="card-back__container__skills__ul--li-">
                        <svg
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="m11.146 0h3.924v18.165c-2.013.382-3.491.535-5.096.535-4.791 0-7.288-2.166-7.288-6.32 0-4.001 2.65-6.6 6.753-6.6.637 0 1.121.051 1.707.204zm0 9.143a3.894 3.894 0 0 0 -1.325-.204c-1.988 0-3.134 1.223-3.134 3.364 0 2.09 1.096 3.236 3.109 3.236.433 0 .79-.025 1.35-.102v-6.295zm10.168-3.083v9.097c0 3.134-.229 4.638-.917 5.937-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.529 3.109-2.625.561-1.121.739-2.421.739-5.835v-7.747h3.924zm-3.924-6.039h3.924v4.026h-3.924z"
                            fill="currentColor"
                          />
                        </svg>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="main__portfolio--button"
            onclick="openLink('portfolio')"
            data-section="portfolio"
            data-value="button"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            Mi Portfolio
          </button>
        </div>
      </article>

      <!--CTA-->
      <article class="main__CTA">
        <section class="main__CTA__section non-mobile-section" id="CTA">
          <h2
            class="main__CTA__section--h2"
            data-section="CTA"
            data-value="title"
          >
            ¡Tener Una Web Si Importa!
          </h2>
          <ul class="main__CTA__section__ul">
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card1h3">Disponible 24/7</h3>
              <p data-section="CTA" data-value="card1p">
                Tu negocio online accesible a cualquier hora, desde cualquier
                lugar.
              </p>
            </li>
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card2h3">
                Mayor Credibilidad
              </h3>
              <p data-section="CTA" data-value="card2p">
                Una web bien diseñada te posiciona como un profesional
                confiable.
              </p>
            </li>
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card3h3">Alcance Global</h3>
              <p data-section="CTA" data-value="card3p">
                Expande tu mercado y llega a clientes de todo el mundo.
              </p>
            </li>
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card4h3">Genera Leads</h3>
              <p data-section="CTA" data-value="card4p">
                Convierte visitantes en clientes con llamadas a la acción
                efectivas.
              </p>
            </li>
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card5h3">Marketing Potente</h3>
              <p data-section="CTA" data-value="card5p">
                Optimiza estrategias de SEO y publicidad digital para atraer más
                tráfico.
              </p>
            </li>
            <li class="main__CTA__section__ul--li">
              <h3 data-section="CTA" data-value="card6h3">
                Control Total de Tu Marca
              </h3>
              <p data-section="CTA" data-value="card6p">
                Diseña tu imagen como quieres que el mundo la vea.
              </p>
            </li>
          </ul>
        </section>
        <section class="main__CTA__form" id="contact">
          <h2
            class="main__CTA__form--h2"
            data-section="contact"
            data-value="title"
          >
            Lleva Tu Presencia En Línea A Otro Nivel
          </h2>
          <form id="form" class="main__CTA__form__form" autocomplete="off">
            {% csrf_token %}

            <div class="main__CTA__form__form__div">
              <label
                for="name"
                class="main__CTA__form__form__div--label"
                data-section="contact"
                data-value="nameLabel"
                ><i class="fa-solid fa-user"></i>Tu nombre</label
              >
              <input
                name="name"
                id="name"
                type="text"
                placeholder="AndrevLare"
                required
              />
            </div>

            <div class="main__CTA__form__form__div">
              <label
                for="mail"
                class="main__CTA__form__form__div--label"
                data-section="contact"
                data-value="mailLabel"
                ><i class="fa-solid fa-at"></i>Tu correo</label
              >
              <input
                name="mail"
                id="mail"
                type="mail"
                data-section="contact"
                data-value="mailPlaceholder"
                placeholder="example@gmail.com"
                required
              />
            </div>

            <div class="main__CTA__form__form__div form-div-select">
              <label
                for="service"
                class="main__CTA__form__form__div--label"
                data-section="contact"
                data-value="serviceLabel"
                ><i class="fa-solid fa-cart-shopping"></i>Servicio</label
              >
              <select name="service" id="service" required>
                <option
                  disabled
                  selected
                  data-section="contact"
                  data-value="optionDefault"
                >
                  Selecciona un servicio
                </option>
                <option value="Landing-Page">Landing Page</option>
                <option
                  value="Portfolio"
                  data-section="contact"
                  data-value="optionPortfolio"
                >
                  Portfolio
                </option>
                <option
                  value="corporate-website"
                  data-section="contact"
                  data-value="optionCorporate"
                >
                  Sitio Web Corporativo
                </option>
                <option
                  value="maintenance"
                  data-section="contact"
                  data-value="optionMaintenance"
                >
                  Mantenimiento Web
                </option>
                <option
                  value="Other"
                  data-section="contact"
                  data-value="optionOther"
                >
                  Otro
                </option>
              </select>
            </div>

            <div class="main__CTA__form__form__div">
              <label
                for="message"
                class="main__CTA__form__form__div--label"
                data-section="contact"
                data-value="messageLabel"
                ><i class="fa-solid fa-message"></i> Mensaje</label
              >
              <textarea
                name="message"
                id="message"
                data-section="contact"
                data-value="messagePlaceholder"
                placeholder="¡Hablame de como deseas llevar negocio o marca al siguiente nivel!"
                required
              ></textarea>
            </div>
            <input
              type="submit"
              class="main__CTA__form__form--submit"
              data-section="contact"
              data-value="submit"
              value="Enviar"
            />
          </form>
          <div class="response"></div>
        </section>
      </article>

      <!--Social Media-->
      <article class="main__social-media" id="socials">
        <h3
          class="main__social-media--h3"
          data-section="socialMedia"
          data-value="title"
        >
          ¡Sigeme en todas mis redes o contáctame por ellas!
        </h3>
        <ul class="main__social-media__ul">
          <li
            class="main__social-media__ul--li"
            onclick="openLink('instagram')"
          >
            <i class="fa-brands fa-instagram"></i>
          </li>
          <li class="main__social-media__ul--li" onclick="openLink('twitter')">
            <i class="fa-brands fa-x-twitter"></i>
          </li>
          <li class="main__social-media__ul--li" onclick="openLink('threads')">
            <i class="fa-brands fa-threads"></i>
          </li>
          <li class="main__social-media__ul--li" onclick="openLink('facebook')">
            <i class="fa-brands fa-facebook"></i>
          </li>
          <li class="main__social-media__ul--li" onclick="openLink('whatsapp')">
            <i class="fa-brands fa-whatsapp"></i>
          </li>
          <li class="main__social-media__ul--li" onclick="openLink('email')">
            <i class="fa-regular fa-envelope"></i>
          </li>
        </ul>
      </article>

      <!--Services-->
      <article class="main__services non-mobile-section" id="services">
        <h2
          class="main__services--h2"
          data-section="services"
          data-value="title"
        >
          Mis Servicios
        </h2>
        <section class="main__services__section">
          <div class="main__services__section__card">
            <i class="fa-solid fa-plane-arrival"></i>
            <h3 class="main__services__section__card--h3">Landing Page</h3>
            <ul class="main__services__section__card__ul">
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card1"
              >
                Página única con contenido enfocado en un solo objetivo
                (promoción de un producto o servicio).
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card2"
              >
                Call to Action (CTA) claro y visible (como "Suscríbete", "Compra
                ahora", etc.).
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card3"
              >
                Sección de testimonios o casos de éxito.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card4"
              >
                Formulario de captura de leads (nombre, correo electrónico,
                etc.).
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card5"
              >
                Diseño visualmente atractivo con enfoque en la conversión.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card6"
              >
                Optimización básica para SEO.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="1card7"
              >
                Diseño responsive (compatible con múltiples dispositivos).
              </li>
            </ul>
            <button
              class="main__services__section__card--button"
              onclick="selectOption(1)"
              data-section="services"
              data-value="button"
            >
              Seleccionar
            </button>
          </div>
          <div class="main__services__section__card">
            <i class="fa-solid fa-briefcase"></i>
            <h3
              class="main__services__section__card--h3"
              data-section="services"
              data-value="portfolio"
            >
              Portafolio
            </h3>
            <ul class="main__services__section__card__ul">
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="2card1"
              >
                Página sencilla con diseño personalizado.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="2card2"
              >
                Sección para mostrar proyectos o trabajos anteriores.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="2card3"
              >
                Contacto directo (formulario o enlace a redes sociales).
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="2card4"
              >
                Optimización básica para SEO.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="2card5"
              >
                Diseño responsive (adaptado a dispositivos móviles).
              </li>
            </ul>
            <button
              class="main__services__section__card--button"
              onclick="selectOption(2)"
              data-section="services"
              data-value="button"
            >
              Seleccionar
            </button>
          </div>
          <div class="main__services__section__card">
            <i class="fa-solid fa-city"></i>
            <h3
              class="main__services__section__card--h3"
              data-section="services"
              data-value="corporateWebsite"
            >
              Sitio Web Corporativo
            </h3>
            <ul class="main__services__section__card__ul">
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card1"
              >
                Múltiples secciones: Home, Sobre Nosotros, Servicios, Blog,
                Contacto, etc.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card2"
              >
                Diseño profesional y personalizado para la marca.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card3"
              >
                Sección de noticias o blog.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card4"
              >
                Formulario de contacto.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card5"
              >
                Galería o portafolio de servicios.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card6"
              >
                Optimización básica para SEO.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="3card7"
              >
                Diseño responsive.
              </li>
            </ul>
            <button
              class="main__services__section__card--button"
              onclick="selectOption(3)"
              data-section="services"
              data-value="button"
            >
              Seleccionar
            </button>
          </div>
          <div class="main__services__section__card">
            <i class="fa-solid fa-gears"></i>
            <h3
              class="main__services__section__card--h3"
              data-section="services"
              data-value="maintenance"
            >
              Mantenimiento Web
            </h3>
            <ul class="main__services__section__card__ul">
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="4card1"
              >
                Actualización de contenido y textos.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="4card2"
              >
                Corrección de errores menores o ajustes de diseño.
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="4card3"
              >
                Rediseño total
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="4card4"
              >
                Monitoreo básico del estado del sitio
              </li>
            </ul>
            <button
              class="main__services__section__card--button"
              onclick="selectOption(4)"
              data-section="services"
              data-value="button"
            >
              Seleccionar
            </button>
          </div>
          <div class="main__services__section__card">
            <i class="fa-solid fa-code"></i>
            <h3
              class="main__services__section__card--h3"
              data-section="services"
              data-value="other"
            >
              Otro
            </h3>
            <ul class="main__services__section__card__ul">
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="5card1"
              >
                Sitio web especifico (lo que necesites)
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="5card2"
              >
                Secciones personalizadas
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="5card3"
              >
                Diseño responsive
              </li>
              <li
                class="main__services__section__card__ul--li"
                data-section="services"
                data-value="5card4"
              >
                Optimización SEO básico
              </li>
            </ul>
            <button
              class="main__services__section__card--button"
              onclick="selectOption(5)"
              data-section="services"
              data-value="button"
            >
              Seleccionar
            </button>
          </div>
        </section>
      </article>

      <!--Phrase-->
      <article class="main__phrase">
        <h3 class="main__phrase--h3" data-section="phrase" data-value="span">
          py
        </h3>
      </article>
    </main>

    <!--Footer-->
    <footer class="footer">
      <section class="footer__section">
        <img
          src="{% static 'img/AndrevLare/LogoAndrevLareBGLess.png' %}"
          alt="LogoAndrevLare"
          title="Logo AndrevLare"
          class="footer--img"
        />
        <ul class="footer__section__ul">
          <li
            class="footer__section__ul--li"
            onclick="scrollToSection('home', 'start')"
            data-section="footer"
            data-value="home"
          >
            Inicio
          </li>
          <li
            class="footer__section__ul--li"
            onclick="scrollToSection('portfolio', 'center')"
            data-section="footer"
            data-value="portfolio"
          >
            Portafolio
          </li>
          <li
            class="footer__section__ul--li footer-li-extra"
            data-section="footer"
            data-value="CTA"
            onclick="scrollToSection('CTA', 'center')"
          >
            Tener Una Web Importa
          </li>
          <li
            class="footer__section__ul--li"
            onclick="scrollToSection('contact', 'start')"
            data-section="footer"
            data-value="contact"
          >
            Contacto
          </li>
          <li
            class="footer__section__ul--li"
            onclick="scrollToSection('services', 'center')"
            data-section="footer"
            data-value="services"
          >
            Servicios
          </li>
        </ul>
        <hr class="footer__section--hr" />
        <div class="footer__section__div">
          <div class="footer__section__div-container">
            <h4
              class="footer__section__div--h4"
              data-section="footer"
              data-value="contactInfo"
            >
              Informacion de contacto
            </h4>
            <ul class="footer__section__div__ul">
              <li
                class="footer__section__div__ul--li"
                onclick="openLink('instagram')"
              >
                <i class="fa-brands fa-instagram"></i>
              </li>
              <li
                class="footer__section__div__ul--li"
                onclick="openLink('twitter')"
              >
                <i class="fa-brands fa-x-twitter"></i>
              </li>
              <li
                class="footer__section__div__ul--li"
                onclick="openLink('facebook')"
              >
                <i class="fa-brands fa-facebook"></i>
              </li>
              <li
                class="footer__section__div__ul--li"
                onclick="openLink('whatsapp')"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </li>
              <li
                class="footer__section__div__ul--li"
                onclick="openLink('email')"
              >
                <i class="fa-regular fa-envelope"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <span class="footer--span" data-section="footer" data-value="copyright">
        Sitio web de AndrevLare ©2024 Todos los Derechos Reservados
      </span>
    </footer>

    <!--Scripts-->
    <script defer src="{% static 'js/mediaQuerisMatches.js' %}"></script>
    <script defer src="{% static 'js/cardLogic.js' %}"></script>
    <script defer src="{% static 'js/navButton.js' %}"></script>
    <script defer src="{% static 'js/navDinamycStyles.js' %}"></script>
    <script defer src="{% static 'js/openExternalLink.js' %}"></script>
    <script src="{% static 'js/formLogic&other.js' %}"></script>
    <script src="{% static 'js/localization.js' %}"></script>
  </body>
</html>
