@import url(variables.css);

/* HTML*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
body {
  background-color: var(--main-black);
}
img {
  max-width: 100vw;
}

/* Header */
.header {
  background-color: var(--transparent-black);
  backdrop-filter: blur(7.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-white);
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid var(--main-white);
}
.header__div {
  display: flex;
  align-items: center;
}
.header__div--img {
  height: 3rem;
  margin-inline: 1rem 0.5rem;
}
.header__div--span {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}
.header__nav__button {
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 2rem;
  width: 2.5rem;
  padding: 0;
  margin-inline: 1rem;
}
.header__nav__button--span {
  width: 100%;
  height: 0.35rem;
  background-color: var(--amethyst);
  border-radius: 1rem;
}
.header__nav__ul {
  display: none;
  list-style: none;
}

/* Home */
.main__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-black);
  min-height: calc(100vh - 4rem);
}
.main__home__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__home__div--img {
  width: 80vw;
}
.main__home__div--span {
  background-color: var(--amethyst);
  padding: 0.75rem;
  border-radius: 50%;
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
  color: var(--main-black);
  font-size: 3.5vw;
  transform: rotate(15deg);
  position: absolute;
  top: 29rem;
  left: 3rem;
}
.main__home--h1 {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--green);
  font-size: 3rem;
  text-align: center;
  margin: 0;
  line-height: 3rem;
}
.main__home--h1 span {
  color: var(--main-white);
  font-size: 2.5rem;
  font-weight: 600;
}
.main__home--p {
  max-width: 75vw;
  color: var(--main-white);
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
}
.main__home--button,
.main__CTA__form__form--submit,
.main__portfolio__div,
.main__portfolio--button {
  font-weight: 700;
  background-color: var(--amethyst);
  color: var(--main-black);
  font-size: 1.75rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 1rem;
  margin-block: 1rem 2rem;
  min-width: 10rem;
  border: 2px solid var(--main-black);
  transition: scale 0.3s ease-in;
}
.main__home--button:active,
.main__CTA__form__form--submit:active,
.main__portfolio__div:active,
.main__portfolio--button:active {
  scale: 1.1;
}
/* Social Media */
.main__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--amethyst);
  padding: 1rem 1rem 0 1rem;
  border-block: 4px solid var(--green);
}
.main__social-media--p {
  max-width: 75vw;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.25rem;
}
.main__social-media__ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1.5rem;
  margin: 1rem 0;
  font-size: 2rem;
  max-width: 100vw;
}

/* CTA */
.main__CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-black);
  padding: 1rem;
}
.main__CTA__section--h2,
.main__CTA__form--h2 {
  color: var(--main-white);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.25rem;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
}
.main__CTA__section__ul {
  list-style: none;
  color: var(--main-white);
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main__CTA__section__ul--li {
  padding: 1.5rem;
  border: 0.5rem solid var(--amethyst);
  border-radius: 1rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}
.main__CTA__section__ul--li h3 {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--green);
  background-color: var(--main-black);
  padding-inline: 0.5rem;
}
.main__CTA__section__ul--li p {
  letter-spacing: 0.075rem;
  font-weight: 500;
}
.main__CTA__form__form {
  margin-top: 1rem;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.main__CTA__form__form__div {
  display: flex;
  flex-direction: column;
  width: 90vw;
}
.main__CTA__form__form__div input,
.main__CTA__form__form__div textarea {
  border: 2px solid var(--amethyst);
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: var(--amethyst);
  resize: none;
  transition-duration: 0.3s;
}
.main__CTA__form__form__div textarea {
  height: 7.5rem;
}
.main__CTA__form__form__div--label {
  position: relative;
  left: 0.1rem;
  color: var(--green);
  transition-duration: 0.3s;
}
.main__CTA__form__form__div:has(> input:focus) label,
.main__CTA__form__form__div:has(> textarea:focus) label {
  color: var(--amethyst);
  font-size: 1.2rem;
}
.main__CTA__form__form__div input:focus,
.main__CTA__form__form__div textarea:focus {
  border-color: var(--green);
}

/* Portfolio */
.main__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-black);
  padding: 1rem;
  border-block: 4px solid var(--main-white);
}
.main__portfolio--h3,
.main__portfolio--h3 span {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  color: var(--main-white);
}
.main__portfolio--h3 span {
  color: var(--green);
}

/* Contenedor para darle perspectiva */
.main__portfolio__card-container {
  perspective: 1000px;
  width: 250px;
  height: 150px;
  margin-block: 50px;
}

/* Estilos para la tarjeta */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease, width 0.8s ease, left 0.8s ease;
  left: 0;
}

/* Estilos para el frente y el reverso de la tarjeta */
.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  border: 2px solid var(--main-white);
}

/* Estilos para el frente de la tarjeta */
.card-front {
  background-color: #101011;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}
.card-front__div {
  height: 15%;
  background-color: var(--amethyst);
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-front__div-grid {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 40% 40% 20%;
}
.card-front__div-grid__img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  height: 80%;
  width: 80%;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--main-white);
}
.card-front__div-grid__img--img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%; /* Centra horizontalmente */
  top: 50%; /* Centra verticalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar completamente */
}

/* Estilos para el reverso de la tarjeta */
.card-back {
  background-color: #1a73e8; /* Color azul para el reverso */
  transform: rotateY(180deg); /* Rotación inicial para el reverso */
}

/* Efecto hover */
.main__portfolio__card-container:hover .card {
  transform: rotateY(180deg) rotateZ(90deg);
  width: 200px;
  left: 25px;
}
