@media (min-width: 1000px) and (orientation: landscape) {
  .header {
    flex-direction: row;
    padding-inline: 1rem;
    justify-content: space-between;
    backdrop-filter: blur(5px);
  }
  .header__div {
    backdrop-filter: none;
    width: auto;
    height: auto;
    justify-content: center;
  }
  .header__div__button {
    display: none;
  }
  .header__nav {
    position: relative;
    top: 0;
    transform-origin: center;
    transform: scaleY(1);
    display: flex;
    justify-content: end;
    margin-right: 1rem;
  }
  .header__nav__ul {
    flex-direction: row;
    width: auto;
    gap: 1rem;
  }
  .header__nav__ul--li {
    background: none;
    backdrop-filter: none;
    border: none;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 400;
    width: auto;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: scale 0.25s ease, color 0.25s ease, text-shadow 0.25s ease;
  }
  .header__nav__ul--li::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--amethyst);
    border-radius: 1rem;
    height: 0.25rem;
    width: 0;
    transition: width 0.15s ease;
  }
  .header__nav__ul--li:hover {
    scale: 1.1;
    color: var(--green);
  }
  .nav-li-extra {
    display: none;
  }
  .nav-li-selected {
    text-shadow: 0 5px 10px var(--amethyst), 0 -5px 10px var(--amethyst);
  }
  .nav-li-selected::before {
    width: 100%;
  }
}

/* Home */
.main__home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 70% 30%;
}
