@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-black: #1c1c1c;
  --main-white: #fafbfd;
  --amethyst: #8b5fbf;
  --green: #32ee88;
}
