@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-black: #1c1c1c;
  --transparent-black: rgba(28, 28, 28, 0.6);
  --main-white: #fafbfd;
  --amethyst: #8b5fbf;
  --green: #32ee88;
}
